* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 5%;
   align-items: center;
    height: 800px;
    background-color: rgb(207, 206, 128);
}

h1 a {
    background-color:rgba(255, 255, 255, 0);
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
}
h1 {
    font-size: 90px;
    margin-top:20px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.555);
    width: 50%;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-radius: 25px;
}


input {
    width: 52%;
    height: auto;
    padding: 7px 7px 7px 7px;
   
}

.btn {
    width:55%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button{
    width:70px;
    height:50px;
}