* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    
   align-items: center;
    height: 800px;
    background-color: rgb(207, 206, 128);
}

div {
    display: flex;
   
    justify-content: center;
    align-items: center;
    
    width: 290px;
    height: 290px;
   
}
h1 {
    font-size: 90px;
    margin-top:20px;
}

img {
    width: 65px;
    height: 65px;
}
.art1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    gap: 5px;
}

.container {
    display: grid;
   grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 25px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.article {
    width: 65%;
    background-color: rgb(255, 255, 255);
    height: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para {
    width: 70px;
    background-color: rgb(255, 255, 255);
    height: 70px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 40px;
}
h1 a {
    background-color:rgba(255, 255, 255, 0);
    width: auto;
    height: auto;
    text-decoration: none;
    color: black;
}

ul {display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
flex-wrap: wrap;
list-style-type: none;
background-color: white;
padding: 10px;
height: auto;
width: 60%;
border-radius: 25px;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    width: auto;
}
button{ 
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    background-color:white;
}